body {
    background-color: #f2f2f2;
}


/* LAYOUT */
/* LAYOUT */
/* LAYOUT */

.navbar-brand {
    font-weight:bold;
}
.nav {
    color: white;
    padding: 10px 10px 0;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
}
.nav a:any-link{
    color: white;
}
hr {
    margin: 0 0 25px;
}

.navbar-left, .navbar-right {
    font-size: 17px;
    display: flex;
    margin-bottom: 0;
}

/* CREATE PAGE */
/* CREATE PAGE */
/* CREATE PAGE */

.form-group {
    width: 100%;
    box-sizing: border-box;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea,
.form-group select {
    width: 100%;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

.margin-left {
    margin-left: 20px;
}


#create-listing-heading{
    text-align: center;
    margin-bottom: 20px;
}

label{
    font-size: larger;
}

 
.form-control {
    margin-bottom: 12px;
}

#create-listing-button{
    width: 10%;
    padding: 5px 0;
    margin: 15px auto 0;
    font-size: 18px;
    display: block;
}

.container-create-listing {
    max-width: 50%;
    margin: auto;
}


/* Index Page (layout)*/
/* Index Page */
/* Index Page */


.container{
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.flex-listing {
    background-color: white;
    flex-basis: 32%;
    height: 550px;
    border-radius: 25px;
    margin: 10px 5px;
    padding: 12px;
    overflow: hidden;
}

#description {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin-bottom: 5px;

}

#description p {
    white-space: normal;
    word-wrap: break-word;
}

@media (max-width: 1300px){
    .flex-listing{
        flex-basis: 48%;
    }
}

@media (max-width: 860px){
    .flex-listing{
        flex-basis: 100%;
    }
}


.div-listing-image {
    display: block;
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
}

.listing-image {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.flex-listing > a:any-link{
    color: black;
}





/* Categories */
/* Categories */
/* Categories */

.bar {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    justify-content:space-between;
    text-align: center;
}
.bar > .item {
    flex: 1;
    border: 1px grey solid;
    font-size: 22px;
    padding: 10px;
}
@media (max-width: 650px){
    .bar >  .item {
        font-size: 17px;
    }
}