body {
    padding: 10px;
}


.form-group {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}



.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea,
.form-group select {
    width: 100%;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

.margin-left {
    margin-left: 20px;
}


#create-listing-heading{
    text-align: center;
}

label{
    font-size: larger;
}

 
.form-control {
    margin-bottom: 20px;
}

#create-listing-button{
    width: 10%;
    padding: 5px 0;
    margin: 15px auto 0;
    font-size: 18px;
    display: block;
}

/* Index Page */
/* Index Page */
/* Index Page */

.container{
    max-width: 90%;
    margin: auto;
}

.flex-listing{
    display: flex;
    flex-wrap: wrap;
}
.listing {
    flex-basis: 24%;
    height: 320px;
    border: 1px grey solid;
    border-radius: 25px;
    margin: 10px 5px;
    padding: 10px;
}

@media (max-width: 1300px){
    .listing{
        flex-basis: 33%;
    }
}

@media (max-width: 860px){
    .listing{
        flex-basis: 50%;
    }
}

@media (max-width: 600px){
    .listing{
        flex-basis: 100%;
    }
}
.listing > a > img {
    border-radius: 15px;
    width: 100%;
    height: 75%;
    margin-bottom: 10px;
}

.listing-column-img{
    flex-basis: 30%;
}
.listing-column-text{
    flex-basis: 60%;
    max-width: 50%;
    margin-left: 30px;
}
.listing-column-text > p {
    margin-top: 20px;   
    font-size: 18px;
}