{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <div class="container" id="create-listing-div">
        <h2 id="create-listing-heading">Create a new listing</h2>
        <form action="{% url 'create' %}" method="POST">
            {% csrf_token %} 

            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title:</label><br>
                {{ form1.title }}
            </div>
    
            <div class="form-group">
                <label for="{{ form.descr.id_for_label }}">Description:</label><br>
                {{ form2.descr }}
            </div>
    
            <div class="form-group">
                <label for="{{ form.starting_bid.id_for_label }}">Starting Bid:</label><br>
                {{ form2.starting_bid }}
            </div>
    
            <div class="flex-container">
                <div class="flex-item">
                    <label for="{{ form.image.id_for_label }}">Image:</label><br>
                    {{ form2.img }}
                </div>
                <div class="flex-item margin-left">
                    <label for="{{ form.category.id_for_label }}">Category:</label><br>
                    {{ form2.category }}
                </div>
            </div>

            <input type="submit" class="btn btn-dark" id="create-listing-button" value="Submit">

        </form>

    </div>
{% endblock %}