{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2>Active Listings</h2>
            {% for listing_details in listings %}
                    <a href="{% url 'view' listing_id=listing_details.listing.id title=listing_details.listing.title %}">
                        <div class="listing">
                            <div class="listing-left">
                            {% if listing_details.img %}
                                <img src="{{ listing_details.img }}" alt="listing_photo">
                            {% endif %}
                            </div>
                            <div class="listing-right">
                                <h4>{{ listing_details.listing.title }}</h4>
                                <h5>Price: ${{ listing_details.starting_bid }}</h5>
                                <p>{{ listing_details.descr }}</p>
                                <p>Created on {{ listing_details.date_added }} | Category: {{ listing_details.get_category_display }}</p>
                            </div>
                        </div>
                    </a>

            {% endfor %}
    </div>
{% endblock %}