{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2>Active Listings</h2>
        <div class="flex-listing">
            {% for listing_details in listings %}
                <div class="listing">
                    <a href="{% url 'view' id=listing_details.id title=listing_details.listing.title %}">

                    {% if listing_details.img %}
                        <img src="{{ listing_details.img }}" alt="listing_photo">
                    {% endif %}
                    <h6>{{ listing_details.listing.title }}</h6>
                    ${{ listing_details.starting_bid }}
                    </a>
                </div>
            {% endfor %}
        </div>


    </div>

{% endblock %}