{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
            <div class="navbar-brand">
                100lx
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHamburger" aria-controls="navbarHamburger" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarHamburger">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">Add Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' category='all' %}">Categories</a>
                    </li>
                    {% if listings_won > 0 and user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'listings_won' %}">Listings Won</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link disabled" href="">Listings Won</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav mr-right mt-2 mt-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link">Signed in as <strong>{{ user.username }}</strong>.</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}    
                </ul>
            </div>
        </nav>
        <hr>
        {% block body %}
        {% endblock %}
        {% if all_listings %}
            <div class="container">
                {% for listing, bid in all_listings %}
                <div class="flex-listing">
                    <a href="{% url 'view' listing_id=listing.listing.id %}">
                        <div class="div-listing-image">
                            {% if listing.img %}
                                <img class="listing-image" src="{{ listing.img }}" alt="listing_photo">
                            {% endif %}
                        </div>
                        <div class="listing-text">
                            <h3>{{ listing.listing.title }}</h3>
                            <h4>Current Price: ${{ bid.highest_bid }}</h4>
                            <div id="description">  
                                <p>{{ listing.descr }}</p>
                            </div>
                            <div id="created-on">
                                {% if listing.get_category_display != '' %}
                                    <p>Created on {{ listing.date_added }} |  Category: {{ listing.get_category_display }}</p>
                                {% else %}
                                    <p>Created on {{ listing.date_added }}
                            {% endif %}

                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
