{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create' %}">Add Listing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categories' category='all' %}">Categories</a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>

            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
        {% if all_listings %}
            <div class="container">
                {% for listing, bid in all_listings %}
                    <a href="{% url 'view' listing_id=listing.listing.id title=listing.listing.title %}">
                        <div class="listing">
                            <div class="listing-left">
                            {% if listing.img %}
                                <img src="{{ listing.img }}" alt="listing_photo">
                            {% endif %}
                            </div>
                            <div class="listing-right">
                                <h4>{{ listing.listing.title }}</h4>
                                <h5>Price: ${{ bid.highest_bid }}</h5>
                                <p>{{ listing.descr }}</p>

                                {% if listing.get_category_display != '' %}
                                    <p>Created on {{ listing.date_added }} |  Category: {{ listing.get_category_display }}</p>
                                {% else %}
                                    <p>Created on {{ listing.date_added }}
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>
