{% extends 'auctions/layout.html' %}

{% block body %}
<div class="container">
    <div class="flex-listing">
        <div class="listing-column-img">
            {% if details.img %}
                <img src="{{ details.img }}" alt="listing-photo" height="500px" width="500px">
            {% endif %}
        </div>
        <div class="listing-column-text">
            <h1>{{ title.title }}</h1>
            <p>{{ details.descr }}</p>
            <h2>${{ bids.highest_bid }}</h2>

            {% if user != title.added_by and title.active %}
                <p>{{ bids.num_of_bids }} bid(s) so far.</p>
                <form action="{% url 'view' listing_id=details.listing.id title=title %}" method="POST">
                    {% csrf_token %}
                    <input type="number" class="form-control" placeholder="Bid" name="new_bid">
                    <input type="submit" name='save-bid' class="btn btn-primary" value="Place Bid">
                    {% if not watchlist %}
                        <input type="submit" name='save-watchlist' class="btn btn-primary" value="Add To Watchlist">
                    {% else %}
                        <input type="submit" name='save-watchlist' class="btn btn-primary" value="Remove From Watchlist">
                    {% endif %}
                </form>
            {% elif not title.active %}
                <p>Listing Closed.</p>
                <p>The listing was won by {{ bids.bidder }} with a bid of ${{ bids.highest_bid }}.</p>
            {% endif %}
            <p>Posted on {{ details.date_added }}</p>
            {% if user != title.added_by %}
                <p>By {{ title.added_by }}</p>
            {% else %}
                <p>{{ bids.num_of_bids }} bid(s) so far.</p>
                {% if title.active %}
                    <form action="{% url 'view' listing_id=details.listing.id title=title %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="close" class="btn btn-primary" value="Close Listing">
                    </form>
                {% elif not title.active %}
                    <button class="btn btn-dark" disabled>Listing Closed</button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}